.container{
    margin: auto;
    width: 70%;
    height:max-content;
    color: whitesmoke;
    padding-left: 30px;
    background-color: darkcyan;
    padding-top: 40px;
    padding-bottom: 30px;

}
.line{
    
        border-left: 11px solid whitesmoke;
        width: 2%;
        height: 275px;
        float: left;
        display: grid;
        padding-right: 5px;
        padding-bottom: 78px;
      
}

.designtext{
    float: left;
    padding-top:40px ;
    width: 20%;
    font-size: 2.5em;
}

html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .app-form {
    display: grid;
    float: right;
    font-size: 2em;
    text-align: center;
    position:fixed;
    top:50%;
    left:70%;
    width:400px;
    padding:40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  

  
  
  .app-form .app-form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  

  

  
  .app-form span {
    position: absolute;
    display: block;
  }
  
  .app-form span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .app-form span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .app-form span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .app-form span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  .app-form-group-ShowData p{
    width:95%;
    font-size: 1.2em;
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:justify;
    background-color:whitesmoke;
    color: #141e30;
  }
  .app-form-button{
    font-size: 0.7em;
    background-color: black;
    color:#03e9f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 7px;
  }
  .sub-text a p{
    color: rgb(217, 222, 221);
    font-size: 1em;
    text-align: end;
    font-style: normal;
    padding-right: 30px;
  }
  .lines{
    border-right: 12px solid #03e9f4;
    width: 45%;
    height: 8px;  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 7px;
    box-sizing: content-box;
    padding-bottom: 35px; 
  }
  .lines2{
    border-right: 12px solid #03e9f4;
    width: 55%;
    height: 8px;  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 7px;
    box-sizing: content-box;
    padding-bottom: 30px; 
  }
  .lines3{
    border-right: 12px solid #03e9f4;
    width: 38%;
    height: 8px;  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 7px;
    box-sizing: content-box; 
    padding-bottom: 20px;
  }
  .lines4{
    border-right: 12px solid #03e9f4;
    width: 53%;
    height: 8px;  
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 7px;
    box-sizing: content-box;
    padding-bottom: 45px; 
  }
#back{
  padding-left: 60px;
  width: 18%;
  color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 0px;
}
.box{
  display: grid;
    float: right;
    font-size: 1.2em;
    text-align: center;
    position:fixed;
    top:50%;
    left:70%;
    color: #03e9f4;
    width:400px;
    margin-left: 8.5%;
    padding:40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.box p{
  color:#03e9f4;
}